/backend/node_modules/
/backend/.env

# Dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# Testing
/frontend/coverage

# Next.js build output
/frontend/.next/
/frontend/out/
/frontend/next-env.d.ts

# Production build
/frontend/build

# Debug logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# Local env files
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# Misc
/frontend/.DS_Store
/frontend/*.pem
